# IDE artifacts
/.settings
*.project
*.xpr

# Miscellaneous ephemeral artifacts
debug/
logs/
tmp/
reports/
output/
results/

# Local settings
local.*

# Documentation
!local.*.example
!local.*.example.xml
