# Debug flag
mulch.debug=false

# XProc processor ID
mulch.xproc-processor=calabash

# mulchwood project root dir
mulch.home=/home/hharrington/repositories/mulch

# Source files
mulch.gedcom-text=${mulch.home}/example.ged.txt

# Testing root dir
mulch.test.home=${mulch.home}/test

# MorganaXProc III Standard Edition
mulch.lib.xproc-processor.morgana.jar=/home/hharrington/tools/morgana-xproc/IIIse-1.6.10/MorganaXProc-IIIse.jar
mulch.lib.xproc-processor.morgana.lib=/home/hharrington/tools/morgana-xproc/IIIse-1.6.10/MorganaXProc-IIIse_lib
mulch.lib.xproc-processor.morgana.config=${mulch.home}/src/configs/morgana/xslt_3.xml

# XML Calabash
mulch.lib.xproc-processor.calabash.jar=/home/hharrington/tools/xml-calabash/3.0.4/xmlcalabash-app-3.0.4.jar
mulch.lib.xproc-processor.calabash.lib=/home/hharrington/tools/xml-calabash/3.0.4/lib

# Ant Contrib
mulch.lib.ant-contrib.jar=/home/hharrington/tools/ant-contrib/1.0b3/ant-contrib-1.0b3.jar

# Ant Unit
mulch.lib.ant-unit.jar=/home/hharrington/tools/apache/ant/antunit/1.4.1/ant-antunit-1.4.1.jar

# Saxon
mulch.lib.xslt-processor.saxon.jar=/home/hharrington/tools/saxon/SaxonHE12-7J/saxon-he-12.7.jar
mulch.lib.xslt-processor.saxon.lib=/home/hharrington/tools/saxon/SaxonHE12-7J/lib


# NineML
mulch.lib.ixml-processor.nine-ml.jar=/home/hharrington/tools/nine-ml/coffeepot-3.2.6/coffeepot-3.2.6.jar
mulch.lib.ixml-processor.nine-ml.lib=/home/hharrington/tools/nine-ml/coffeepot-3.2.6//lib

# mulch.lib.catalog-resolver.jar=/home/hharrington/tools/apache/xml-commons-resolver/1.2/resolver.jar