# Debug flag
liana.debug=false

# XProc processor ID (morgana|calabash)
liana.xproc-processor=morgana

# MorganaXProc III Standard Edition
liana.lib.xproc-processor.morgana.jar=/home/hharrington/morgana-xproc/IIIse-1.6.10/MorganaXProc-IIIse.jar
liana.lib.xproc-processor.morgana.lib=/home/hharrington/morgana-xproc/IIIse-1.6.10/MorganaXProc-IIIse_lib

# XML Calabash
liana.lib.xproc-processor.calabash.jar=/home/hharrington/xml-calabash/3.0.10/xmlcalabash-app-3.0.10.jar
liana.lib.xproc-processor.calabash.lib=/home/hharrington/xml-calabash/3.0.10/lib

# Ant Contrib
liana.lib.ant-contrib.jar=/home/hharrington/ant-contrib/1.0b3/ant-contrib-1.0b3.jar

# Saxon
liana.lib.xslt-processor.saxon.jar=/home/hharrington/saxon/SaxonHE12-7J/saxon-he-12.7.jar
liana.lib.xslt-processor.saxon.lib=/home/hharrington/saxon/SaxonHE12-7J/lib

# NineML
liana.lib.ixml-processor.nine-ml.jar=/home/hharrington/nine-ml/coffeepot-3.2.6/coffeepot-3.2.6.jar
liana.lib.ixml-processor.nine-ml.lib=/home/hharrington/nine-ml/coffeepot-3.2.6/lib